.search-bar {
    max-width: 250px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.search-bar-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    transition: all 0.3s ease;
}

.search-results {
    width: 240px;
    position: absolute;
    z-index: 100;
    top: 100%;
    background-color: white;
}

.search-results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results a {
    text-decoration: none;
}