nav {
    margin-top: 0.25rem;
    padding: 0.5rem;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: var(--accent-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px var(--accent-dark);
}

nav h1 {
    font-family: 'LuckiestGuy';
    font-size: 2rem;
}

.search-bar {
    position: relative;
    width: 100%;
}