nav {
    padding: 0.5rem;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text);
}

nav h1 {
    font-family: 'LuckiestGuy';
    font-size: 2rem;
}

.search-bar {
    position: relative;
    width: 100%;
}