footer {
    padding: 0.5rem;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    background-color: var(--accent-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px var(--accent-dark) inset;
}

footer p, footer a {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    color: var(--background);
}

footer a:hover {
    text-decoration: underline;
}