.pokedex-entry {
    display: flex;
}

.pokemon-name {
    display: flex;
    gap: 2rem;
    text-transform: capitalize;

}

.pokemon-types {
    display: flex;
    gap: 2rem;
    text-transform: capitalize;
} 

