#pokedex-entry {
    padding: 2rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--accent-dark);
    border-radius: 0.5rem;
}

#pokedex-entry .data-image {
    display: flex;
    justify-content: center;
}

#pokedex-entry img {
    width: 300px;
}

#pokedex-entry .data-section {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    #pokedex-entry .data-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#pokedex-entry .data-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#pokedex-entry .data-text p {
    margin-bottom: 1rem;
}

#pokedex-entry h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

#pokedex-entry h2 {
    font-size: 1rem;
    font-weight: 600;
}

#pokedex-entry .pokedex-number {
    font-size: 1.5rem;
}

#pokedex-entry .pokemon-types {
    display: flex;
    gap: 0.5rem;
    text-transform: capitalize;
}

#pokedex-entry .pokemon-types p {
    align-content: center;
}

#pokedex-entry .type-card {
    margin: 0;
    height: 1.5rem;
    width: 5rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: var(--background);
    border-radius: 0.25rem;
}

#pokedex-entry .pokemon-abilities {
    text-transform: capitalize;
}

#pokedex-entry .stats-section {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

@media screen and (min-width: 768px) {
    #pokedex-entry .stats-section {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
}

#pokedex-entry .pokemon-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    text-transform: capitalize;
}

#pokedex-entry .pokemon-stats p {
    margin-bottom: 1rem;
}

#pokedex-entry .bug-type {
    background-color: var(--bug-color);
    border: 2px solid var(--bug-color-dark);
}

#pokedex-entry .dark-type {
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color-dark);
}

#pokedex-entry .dragon-type {
    background-color: var(--dragon-color);
    border: 2px solid var(--dragon-color-dark);
}

#pokedex-entry .electric-type {
    background-color: var(--electric-color);
    border: 2px solid var(--electric-color-dark);
}

#pokedex-entry .fairy-type {
    background-color: var(--fairy-color);
    border: 2px solid var(--fairy-color-dark);
}

#pokedex-entry .fighting-type {
    background-color: var(--fighting-color);
    border: 2px solid var(--fighting-color-dark);
}

#pokedex-entry .fire-type {
    background-color: var(--fire-color);
    border: 2px solid var(--fire-color-dark);
}

#pokedex-entry .flying-type {
    background-color: var(--flying-color);
    border: 2px solid var(--flying-color-dark);
}

#pokedex-entry .ghost-type {
    background-color: var(--ghost-color);
    border: 2px solid var(--ghost-color-dark);
}

#pokedex-entry .grass-type {
    background-color: var(--grass-color);
    border: 2px solid var(--grass-color-dark);
}

#pokedex-entry .ground-type {
    background-color: var(--ground-color);
    border: 2px solid var(--ground-color-dark);
}

#pokedex-entry .ice-type {
    background-color: var(--ice-color);
    border: 2px solid var(--ice-color-dark);
}

#pokedex-entry .normal-type {
    background-color: var(--normal-color);
    border: 2px solid var(--normal-color-dark);
}

#pokedex-entry .poison-type {
    background-color: var(--poison-color);
    border: 2px solid var(--poison-color-dark);
}

#pokedex-entry .psychic-type {
    background-color: var(--psychic-color);
    border: 2px solid var(--psychic-color-dark);
}

#pokedex-entry .rock-type {
    background-color: var(--rock-color);
    border: 2px solid var(--rock-color-dark);
}

#pokedex-entry .steel-type {
    background-color: var(--steel-color);
    border: 2px solid var(--steel-color-dark);
}

#pokedex-entry .water-type {
    background-color: var(--water-color);
    border: 2px solid var(--water-color-dark);
}