* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    background-color: var(--background);
}

:root {
    --text: #0a0b0a;
    --background: #f9fbf9;
    --accent-light: #b1d2ab;
    --accent-medium: #85c47b;
    --accent-dark: #79a572;
    font-family: 'InterVariable';
    font-size: 16px;
}

main {
    margin-top: 3.25rem;
}

a, a:visited {
    text-decoration: none;
}

@font-face {
    font-family: LuckiestGuy;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/fonts/InterVariable.woff2") format("woff2");
}
  
@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/fonts/InterVariable-Italic.woff2") format("woff2");
}