* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}

:root {
    --white: #ebedeb;
    --black: #0a0c0a;
    --accent-light: #acc2ac;
    --accent-medium: #63a462;
    --accent-dark: #3e5d3d;

    --bug-color: #91A119;
    --bug-color-dark: #5E6910;
    --dark-color: #624D4E;
    --dark-color-dark: #403233;
    --dragon-color: #5060E1;
    --dragon-color-dark: #343E92;
    --electric-color: #FAC000;
    --electric-color-dark: #A37D00;
    --fairy-color: #EF70EF;
    --fairy-color-dark: #9B499B;
    --fighting-color: #FF8000;
    --fighting-color-dark: #A65300;
    --fire-color: #E62829;
    --fire-color-dark: #961A1B;
    --flying-color: #81B9EF;
    --flying-color-dark: #54789B;
    --ghost-color: #704170;
    --ghost-color-dark: #492A49;
    --grass-color: #3FA129;
    --grass-color-dark: #29691B;
    --ground-color: #915121;
    --ground-color-dark: #5E3515;
    --ice-color: #3DCEF3;
    --ice-color-dark: #28869E;
    --normal-color: #9FA19F;
    --normal-color-dark: #676967;
    --poison-color: #9141CB;
    --poison-color-dark: #5E2A84;
    --psychic-color: #EF4179;
    --psychic-color-dark: #9B2A4F;
    --rock-color: #AFA981;
    --rock-color-dark: #726E54;
    --steel-color: #60A1B8;
    --steel-color-dark: #3E6978;
    --water-color: #2980EF;
    --water-color-dark: #1B539B;

    background-color: var(--black);
    font-family: 'InterVariable';
    font-size: 16px;
}

main {
    margin-top: 3rem;
}

a, a:visited {
    text-decoration: none;
}

.routes-container {
    position: relative;
    z-index: 1;
}

@font-face {
    font-family: LuckiestGuy;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/fonts/InterVariable.woff2") format("woff2");
}
  
@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/fonts/InterVariable-Italic.woff2") format("woff2");
}

/* Background Animation: https://codepen.io/Hyperplexed/pen/zYXZoZg?ref=Hyperplexed */
#star-container {
    position: relative;
    overflow: hidden;
    padding: 4rem 1rem;
    height: 100%;  
    background: radial-gradient(#1a1a1a, var(--black));
}

@media screen and (min-width: 768px) {
    #star-container {
        padding: 4rem;
    }
}

@media screen and (min-width: 992px) {
    #star-container {
        padding: 4rem 8rem;
    }
}
  
#star-pattern {
    z-index: 0;
    background-image: url(./assets/images/pokeball_pattern.svg);
    background-size: 10%;  
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 240s linear infinite;
    will-change: background-position;
}
  
#star-gradient-overlay {
    z-index: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 75%, var(--black));
    opacity: 0.9;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}